<div cdkDropList cdkDropListOrientation="vertical" class="vertical-layout"
     (cdkDropListDropped)="dropVerticalLayout($event)">

  <div cdkDrag class="vertical-layout-item" >
    <div cdkDropList class="example-list" cdkDropListOrientation="horizontal"
         (cdkDropListDropped)="dropBasicItem($event)"

         mwlResizable
         [enableGhostResize]="true"
         [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
         (resizeEnd)="onResizeEnd($event)">
      <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>{{timePeriod}}</div>
    </div>
  </div>

  <div cdkDrag class="vertical-layout-item">
    <div cdkDropList class="example-list" cdkDropListOrientation="horizontal"
         (cdkDropListDropped)="dropBasicItem($event)">
      <div class="example-box" *ngFor="let timePeriod of timePeriods2" cdkDrag>{{timePeriod}}</div>
    </div>
  </div>
</div>
